.about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-header {
    padding-top: 3rem;
    text-align: center;
    max-width: 30rem;
    line-height: 1rem;
}

h1, h2, p {
    margin-bottom: 1.5rem;
}

.about-body {
    display: flex;
    margin-top: 5rem;
    gap: 1rem;
}

.content {
    max-width: 50%;
}

.image {
    width: 50%;
    position: relative;
}

.image img {
    position: absolute;
    width: 100%;
    border-radius: 1rem;
}