* {
  margin: 0;
  padding: 0;
}

.app-cmp {
  background-image: url('https://www.transparenttextures.com/patterns/az-subtle.png');
  background-image: url('https://www.transparenttextures.com/patterns/brick-wall-dark.png');

  background-color: #088395;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 1rem 2rem;
  background-color: #071952;
  color: #EBF4F6;
  border-radius: 10rem;
  border: none;
  font-weight: bold;
  font-size: medium;
}

.btn:hover {
  background-color: #EBF4F6;
  color: #071952;
  transition: all 0.4s;
}