.user-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* background-color: rgba(128, 128, 128, 0.34); */
    background-color: #FFF;
    padding: 1rem;
    width: 20rem;
    border-radius: 1rem;
}